/* FIRST CHART: PREGNANCY */

text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #081F2C;
}

.chart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

#data {
    display: inline-grid;
    align-items: center;
    margin-top: 20px;
}

#data ul {
  margin: 14px;
   padding-bottom: 45px;
   width: 100%;
   padding: 0;
   align-content: center;
}

#data li {
	margin-bottom: 8rem !important;
	margin-right: 11px;
	padding: 1rem;
	box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
	width: 100%;
	display: inline;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding-top: 14px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-left: 20px;
}

/*
.bar {
  fill: #4f009e;
}

.label {
  fill: #4f009e;
}
*/


/**/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.tooltip {
    width: 94px;
    padding: 4px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    position: absolute;
    background-color: white;
    font-size: 14px;
    pointer-events: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.tooltip div {
    margin: 3px 0;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}
/*
.bar {
  fill: #4f009e;
}

.label {
  fill: #4f009e;
}
*/